<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704133146553-djblj4aamen150mpmbm8o4jp38vlhnhq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704133146553-djblj4aamen150mpmbm8o4jp38vlhnhq</string>
	<key>API_KEY</key>
	<string>AIzaSyBC_ZNlsn03DHXePwC7HfKx-_TzFfMnIi8</string>
	<key>GCM_SENDER_ID</key>
	<string>704133146553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simbashi.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-2e9ed</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-2e9ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704133146553:ios:c2a7052fde083e8ce63868</string>
</dict>
</plist>